{{ form:create in="{# HANDLE #}" class="m-form" id="form-{ index }" redirect="{ current_uri }#form-{ index }" }}

	{{# ERFOLG #}}
	{{ if success }}

		{{ success_txt ?? success|wrap:strong }}

	{{ else }}

		{{ FELDER }}
		<div class="m-form__content">

			{{ fields }}
			<div class="m-form__field{{ if width }} m-form__field--{{ width }}{{ /if }}"{{ if type == 'hidden' or input_type == 'hidden' }} hidden{{ /if }}>

				{{ if type == 'checkboxes' ||  type == 'radio' }}
					<fieldset>
						{{ display|wrap:legend.m-form__field-label }}
				{{ elseif type != 'hidden' }}
					<label class="m-form__field-label" for="{{ handle }}">{{ display }}</label>
				{{ /if }}
				
				{{ instructions|markdown|wrap:div.m-form__field-instructions }}
				
				{{ if handle != 'digit_1' && handle != 'digit_2' && handle != 'sum' }}
					{{ field }}
				{{ elseif handle == 'sum' }}
					<input id="{{ handle }}" name="{{ handle }}" type="number" required>
				{{ else }}
					<input id="{{ handle }}" name="{{ handle }}" type="hidden" value="{{ random_number }}">
				{{ /if }}

				{{ if type == 'checkboxes' ||  type == 'radio' }}
					</fieldset>
				{{ /if }}
				
				{{ if error }}
					<p class="m-form__message--error">{{ error }}</p>
				{{ /if }}

			</div>
			
			{{ if index == 1 }}
				<div class="m-form__field" data-hp>
					<label class="m-form__field-text" data-hp>{{ honeypot|ucfirst }}</label>
					<input type="text" name="{{ honeypot }}" data-hp>
				</div>
			{{ /if }}

			{{ /fields }}
			
			<div class="m-form__field">
				<button class="m-form__submit">Absenden</button>
			</div>

		</div>

	{{ /if }}

{{ /form:create }}