.m-form {
	&__content {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: 1.25rem 2.5rem;
		align-items: end;
		@media only screen and (max-width: 767px) {
			gap: 1.25rem;
		}
		@media screen and (max-width: 576px) {
			gap: 1.25rem 0;
		}
	}
	&__field {
		grid-column: span 12;
		&--75 {
			grid-column: span 9;
			@media only screen and (max-width: 767px) {
				grid-column: span 12;
			}
		}
		&--66 {
			grid-column: span 8;
			@media only screen and (max-width: 767px) {
				grid-column: span 8;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--50 {
			grid-column: span 6;
			@media only screen and (max-width: 767px) {
				grid-column: span 8;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--33 {
			grid-column: span 4;
			@media only screen and (max-width: 767px) {
				grid-column: span 6;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--25 {
			grid-column: span 3;
			@media only screen and (max-width: 767px) {
				grid-column: span 8;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
	}
	&__field-instructions {
		display: block;
		opacity: .75;
		font-size: .75em;
	}
}

[data-hp] {
	display: none;
}