.m-form {
	&__fields {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: 1.25rem;
	}
}

.m-input {
	padding: .5rem;
	border: 2px solid $primary;
	&__label {
		font-weight: bold;
	}
	&__instructions {
		font-size: 14px;
	}
	&__error {
		color: red;
	}
	&__container {
		grid-column: span 12;
		display: grid;
		color: $primary;
		&--75 {
			grid-column: span 9;
			@media only screen and (max-width: 767px) {
				grid-column: span 12;
			}
		}
		&--66 {
			grid-column: span 8;
			@media only screen and (max-width: 767px) {
				grid-column: span 8;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--50 {
			grid-column: span 6;
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--33 {
			grid-column: span 4;
			@media only screen and (max-width: 767px) {
				grid-column: span 6;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
		&--25 {
			grid-column: span 3;
			@media only screen and (max-width: 767px) {
				grid-column: span 8;
			}
			@media only screen and (max-width: 480px) {
				grid-column: span 12;
			}
		}
	}
}

[data-hp] {
	display: none;
}